/*navbar*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -20px;
}

.apartment .dropdown-content {
  display: block;
  left: 15px;
}

.dropdown-content a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*//////////////////////////////////////////////////////*/

/*language*/

.languages.black .mantine-Input-input,
.languages.black .mantine-Input-input::placeholder {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-transform: uppercase;
}

.languages.white .mantine-Input-input,
.languages.white .mantine-Input-input::placeholder {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

/*//////////////////////////////////////////////////////*/

/*floor number*/
.floor-num .mantine-Input-input,
.floor-num .mantine-Input-input::placeholder {
  background-color: #f5f5f5;
  min-width: 130px;
  font-weight: bold;
  font-size: 18px;
  color: #476761;
}

.floor-num .mantine-Select-item {
  font-weight: bold;
  font-size: 14px;
  color: #476761;
}

/*@media (min-width: 640px) {*/
/*    .floor-num .mantine-Input-input::placeholder {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/
/*//////////////////////////////////////////////////////*/
