.mantine-Checkbox-input {
    background-color: rgba(0, 0, 0, 0.07);
    border: 2px solid white;
}

.mantine-Checkbox-input:checked {
    background-color: #89A6A2;
    border: none;
}

.mantine-TextInput-input {
    background: rgba(255, 255, 255, 0.12);
    border: 0;
    height: 48px;
    color: white;
}

.mantine-Textarea-input {
    background:  rgba(255, 255, 255, 0.12);
    border: 0;
    color: white;
}

.green. a.mantine-Checkbox-input {

}