/*Green form*/
.green .mantine-TextInput-input {
    background: rgba(255, 255, 255, 0.12);
    border: 0;
    height: 48px;
    color: white;
}

.green .mantine-Textarea-input {
    background:  rgba(255, 255, 255, 0.12);
    border: 0;
    color: white;
}

.green .mantine-Checkbox-input {
    background-color: rgba(0, 0, 0, 0.07);
    border: 2px solid white;
}

.green .mantine-Checkbox-input:checked {
    background-color: #89A6A2;
    border: none;
}

/*@media (min-width: 640px) {*/
/*    .green .mantine-TextInput-input {*/
/*        background: rgba(255, 255, 255, 0.12);*/
/*        border: 0;*/
/*        height: 48px;*/
/*        color: white;*/
/*    }*/
/*}*/
/*//////////////////////////////////////////*/

/*Grey form*/
.grey .mantine-TextInput-input {
    background: rgba(0, 0, 0, 0.07);
    border: 0;
    height: 48px;
    color: black;
}

.grey .mantine-Textarea-input {
    background: rgba(0, 0, 0, 0.07);
    border: 0;
    color: black;
}

.grey .mantine-Checkbox-input {
    background-color: rgba(0, 0, 0, 0.07);
    border: 2px solid white;
}

.grey .mantine-Checkbox-input:checked {
    background: #476761;
    border: none;
}
/*//////////////////////////////////////////*/

/*//////////////////////////////////////////*/

/*Building filter*/
.building .mantine-Slider-bar {
    background: white;
}

.building .mantine-Slider-thumb {
    border: 8px solid white;
}

.building .mantine-Checkbox-input {
    background-color: transparent;
    border: 2px solid white;
}

.building .mantine-Checkbox-input:checked {
    background-color: white;
    border: none;
}
/*//////////////////////////////////////////*/

/*Odber noviniek a Footer*/
.mantine-TextInput-input {
    background: rgba(255, 255, 255, 0.12);
    border: 0;
    height: 48px;
    color: white;
}
/*//////////////////////////////////////////*/