@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Jost', sans-serif;
  }
  form {
    font-family: 'Jost', sans-serif;
  }
  section {
    @apply w-full px-[1rem] xl:px-0 max-w-[1920px] mx-auto;
  }
}

.green.PhoneInput input {
  color: white;
  font-size: 16px;
  background-color: rgba(255,255,255,0.12);
}

.PhoneInput input {
  color: black;
  font-size: 16px;
  background-color: rgba(0,0,0,0.07);
}
.PhoneInputInput {
  height: 50px;
  padding: 0 15px;
}

.PhoneInputInput:focus-visible {
  outline: none;
}

.bad {
  fill: black !important;
  opacity: 0.55 !important;
}

.scrollmenu::before,
.scrollmenu::after {
  content: "";
  flex: 0 0 55%;
}
