.cls-1 {
    fill: none;
}
.cls-2{fill:url(#linear-gradient);}

.cls-3{
    clip-path: url(#clip-path);
}
.cls-4{fill:#89a6a2;}

.cls-5{fill:#0e3f3b;fill-opacity:0.6;}

g[id*="highlight"] {
    opacity: 0;
}
g[id*="highlight"]:hover,
g[id*="nr"] .cls-4:hover{
    fill: #0e3f3b;
    opacity: 1;
    cursor: pointer;
}
