/*Form modal*/
.mantine-Modal-modal {
    width: 50%;
    padding: 20px 30px 80px;
}

@media (min-width: 380px) {
    .mantine-Modal-modal {
        width: auto;
    }
}

@media (min-width: 900px) {
    .mantine-Modal-modal {
        width: 50%;
    }
}
/*///////////////////////////////////*/

/*Gallery modal*/
.gallery-modal .mantine-Modal-modal {
    width: 50%;
    padding: 20px 30px 80px;
    background-color: transparent;
}

@media (min-width: 380px) {
    .gallery-modal .mantine-Modal-modal {
        width: auto;
    }
}

@media (min-width: 900px) {
    .gallery-modal .mantine-Modal-modal {
        width: 50%;
    }
}
/*////////////////////////////*/